@charset "UTF-8";
body{
     background-color: yellow;
     font-family: Arial, Helvetica, sans-serif;
     font-size: 20px;
     
}

h1{
    color: darkmagenta;
    background-color: rgb(201, 230, 173);

}

h2{
    color: darkred;
}
p{
    text-align: justify;
}