
body{
    background-color:rgb(red, green, blue);
}
mark{
    background-color:rgb(red, green, blue);
}

#para-block, .texto-azul{
    font-weight:bold;
}

.fundo-claro{
    background-color: rgb(80, 79, 80);

}

.fundo-escuro{
   background-color: #aaa;
}
.texto-azul{
    font-size: 2em;
    color: blue;    
}
div  p{
    color: blue;
    text-align: justify;
    font-size: 1em;
}

.box{
    border-style: solid;
    border-width:3px;
    display: inline-block;
    box-sizing: border-box;
    width: 500px;
    height:300px;
    padding: 20px;
}