@charset "UTF-8";
body{
    background-color:rgb(red, green, blue);
}
mark{
    background-color:rgb(red, green, blue);
}

#para-block{
    font-weight:bold;
}

.fundo-claro{
    background-color: #fff;

}

.fundo-escuro{
   background-color: #aaa;
}