body{
    background-color: rgb(red, green, blue);
}
mark{
    background-color: rgb(rgb(218 , 07 , 40) ; 
}

#para-block{
    font-weight:bold;
}

.fundo-claro{
    background-color: #fff;

}

.fundo-escuro{
   background-color: #aaa;
}