:root{
    --background-gray:rgb(237,237,236);
    --background-blue: rgb(13,31,41);
    --background-white:rgb(255,255,255);

    --font-blue:rgb(13,31,41);
    --font-white:rgb(255,255,255);

    --input-blue:rgb(1,17,23);
    --orange: rgb(246,104,0);


}

*{
    font-family:Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
img{

    float:right;

}


section{
    width: 960px;
    margin: 0 auto;

}
/*******
header
/*****/

header{
    background-color: var(--background-gray);
    color:var(--font-blue);
}
header h1{
    /*altera todos os h1 que sejam decendentes de header*/
    margin:2px;
    padding-top:10px;
    font-size: 1.4rem;
}

header h1::first-letter{
    font-size: 1.4rem;
}
header mark{
    background-color: var(--background-gray);
    color:var(--orange);
    text-transform:lowercase;
}

/*descricao de servicos*/
header h3{
    width: 400px;
    line-height:1.4em;
    
}

 header p{
     width: 380px;
     line-height: 2.4em;
     font-size: 0.9rem;

 } 
header article ,header figure {
    display: inline-block;
}

header figure{
    position: relative;
    bottom: 358px;
    left: 450px;
}

header figcaption{
    position: absolute;
    top: 0;
    background-color: var(--background-blue);
    color: var(--orange);
    width: 200px;
    padding: 10px;
    border-radius: 5px 20px 30px;
}
.phone{
    color:var(--font-white);
}

header nav{
    background-color: var(--background-blue);
    
}

header ul{
    padding-left: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content:space-between;
   

}

header li{
    padding: 10px;
    
}
header li:first-child, header li:hover{
    background-color: var(--orange);
}

header a{
    color : var(--font-white);
    text-decoration:none;


}

/**Main**/

main{
    color:var(--font-blue);
}

 main section{
     display: flex;
     flex-direction: row;
     justify-content: space-between;
 }
 
main article{
    width: 300px; 
     

}
main section > article{
    border: 6px solid var(--backgeound-gray);
    bottom: 150px;
    margin: 7;    

}   

main article figure{
    position: relative;
    margin: 0;
    width: 120%;
}

main article figcaption{
    position: absolute;
    bottom:6px;
}

main article img{
    max-width:100%;
}


/***footer**/
footer{
    background-color: var(--background-blue);
    color: var(--font-white);

}